#map { 
   position: absolute;
   height: 100%; 
   width: 100%; 
   margin: 0px; 
   padding: 0px; 
   font-size: 16px;
}

#groups {
   position: absolute;
   display: none;
   top: 10px;
   left: 10px;
   width: fit-content; 
   border: 1px solid #aaa;
   background-color: white;
   padding: 10px;
   text-align: left;
   border-radius: 5px;
   overflow: auto;
   max-height: 90%;
   z-index: 2020;
}

#layers {
   position: absolute;
   top: 80px;
   left: 10px;
   margin: 0px;
   padding: 7px;
   padding-bottom: 0px;
   z-index: 2010;
}

#info {
   position: relative;
   bottom: 20px;
   left: 10px;
   width: fit-content;
   border: 1px solid #aaa;
   background-color: white;
   padding: px;
   text-align: right;
   border-radius: 5px;
   z-index: 2000;
}

#bounds {
   font-size: .8em;
}

#location {
   font-size: .8em;
}

#fixed {
   font-size: .8em;
}

#loading {
   position: absolute;
   left: 50%;
   top: 45%;
   display: none;
   padding: 10px;
   background-color: #ffffffaa;
   z-index: 2100;
   margin: 0;
   transform: translate(-50%, -50%);
   border-radius: 5px;
   width: fit-content;
}

.legend {
   position: relative;
   right: 10px;
   bottom: 10px;
   width: fit-content;
   display: block;
   z-index: 2005;
}

.milemarker {
   width: fit-content;
   height: fit-content;
   margin: 0px; 
   padding: 0px;
   color: #964B00;
   font-weight: bold;
   text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
   z-index: 2110;
}

.mileMeta {
   margin: 0px;
   padding: 0px;
   color: #964B00;
   font-weight: bold;
   text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
   z-index: 2100;
   text-align: left;
}

.trailtemp {
   margin: 0px;
   padding: 0px;
   color: #964B00;
   font-weight: bold;
   text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
   z-index: 2100;
   text-align: left;
}

.state {
   background-color: #ffffff00; 
   color: #000000;
   weight: 2;
}
.county {
   background-color: #ffffff00; 
   color: #000000;
   weight: 1;
}

.legendClass {
   position: relative;
   display: block;
   top: 85px;
   right: 10px;
   margin: 0px;
   padding: 15px;
   padding-bottom: 0px;
   font-size: 12px;
   background-color: white;
   border-radius: 5px;
   overflow: hidden;
   max-height: 50%;
   z-index: 2005;
}

.cus-con {
   width: 13px;
   height: 13px;
   margin: 0px; 
   padding: 0px;
   border-radius: 50%;
   opacity: 0.6;
}

.locateIcon {
   display: block;
   position: absolute;
   margin: 0px;
   padding: 0px;
   height: 20px;
   left: 90px;
   top: 150px;
   background-color: none;
   z-index: 2010;
}

.resupply-con { border: 3px solid #700; background-color: #c00; }
.spring-con { border: 3px solid #004040; background-color: #008080; }
.gap-con { border: 3px solid #030303; background-color: #707070; }
.roads-con { border: 3px solid #000000; background-color: #303030; }
.lake-con { border: 3px solid #0000aa; background-color: #0000ff; }
.drainage-con { border: 3px solid #000000; background-color: #000080; }
.valley-con { border: 3px solid #404000; background-color: #808000; }
.summit-con { border: 3px solid #400000 ; background-color: #800000; }
.ridge-con { border: 3px solid #400040 ; background-color: #800080; }
.place-con { border: 3px solid #000000 ; background-color: #000000; }
.other-con { border: 3px solid #aa00aa ; background-color: #ff00ff; }
